body {
    font-family: Arial, sans-serif;
    background-image: url(images/Is\ BMI\ an\ Accurate\ Measure\ of\ Health_.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bmi-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 350px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #219f16;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
